.heading {
  font-size: 40px;
  font-weight: bold;
  margin: 3rem;
}

.select-category {
  display: block;
  margin: 1rem;
}

.category-button {
  margin: 0.5rem !important;
  border-radius: 1.2rem !important;
  border-color: #a26769 !important;
  color: #a26769 !important;
  font-weight: bold !important;
  border-width: 0.1rem !important;
}

.category-button:hover,
.category-button-selected {
  background-color: #a26769 !important;
  color: white !important;
}

.generate-button {
  background-color: green !important;
  color: white !important;
  display: block !important;
  margin: 2rem auto !important;
  width: 40%;
  height: 4rem !important;
  border-radius: 1rem !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.excuse {
  font-size: 1.5rem;
}

.clown-image {
  width: 5%;
  position: relative;
  padding: 1rem;
  top: 30px;
}
